# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
*.iml
spy.log
*pom.xml.versionsBackup
*dependency-reduced-pom.xml
/e2e-tests/dropwizardExamples/src/em/
/e2e-tests/springExamples/src/em/
/src/
/private/
/statistics.csv
/e2e-tests/spring-examples/src/em/
case-study/rest/target/
client-java/client-util/target/
client-java/controller-api/target/
client-java/controller/target/
client-java/instrumentation/target/
client-java/instrumentation-shared/target/
client-java/database-spy/target/
core/target/
e2e-tests/dropwizard-examples/target/
e2e-tests/e2e-tests-utils/target/
e2e-tests/spring-examples/target/
experiments/target/
/e2e-tests/spring-examples/src/em/EvoMasterTest.java
/e2e-tests/dropwizard-examples/src/em/
/snapshot.csv
*.lst
/report/target/
/extra_heuristics.csv
/dbconstraint/target/
/e2e-tests/spring-rest-postgres/target/
/core/testWithEMB.sh
/resource-rest-experiments/api-generator/target/
/client-js/node_modules/
/client-js/dist/
/client-js/yarn-error.log
/client-js/coverage/
/client-js/integration-tests/node_modules/
/client-js/evomaster-client-js/coverage/
/client-js/evomaster-client-js/node_modules/
/client-js/evomaster-client-js/dist/
/client-js/integration-tests/check/
/client-js/integration-tests/coverage/

/e2e-tests/spring-rest-openapi-v3/target
/client-js/integration-tests/build/
