# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
.idea/
*.iml
spy.log
*pom.xml.versionsBackup
*dependency-reduced-pom.xml
/src/
/private/
/statistics.csv
/e2e-tests/spring-rest-openapi-v2/src/em/
case-study/rest/target/
client-java/client-util/target/
client-java/controller-api/target/
client-java/controller/target/
client-java/instrumentation/target/
client-java/instrumentation-shared/target/
client-java/database-spy/target/
client-java/ci-utils/target
core/target/
e2e-tests/dropwizard-examples/target/
e2e-tests/e2e-tests-utils/target/
e2e-tests/spring-rest-openapi-v2/target/
experiments/target/
/e2e-tests/spring-rest-openapi-v2/src/em/EvoMasterTest.java
/e2e-tests/dropwizard-examples/src/em/
/snapshot.csv
*.lst
/report/target/
/extra_heuristics.csv
/dbconstraint/target/
/e2e-tests/spring-rest-postgres/target/
/e2e-tests/spring-rest-postgres-data-types/target/
/core/testWithEMB.sh
/resource-rest-experiments/api-generator/target/
/client-js/node_modules/
/client-js/dist/
/client-js/yarn-error.log
/client-js/coverage/
/client-js/integration-tests/node_modules/
/client-js/evomaster-client-js/coverage/
/client-js/evomaster-client-js/node_modules/
/client-js/evomaster-client-js/dist/
/client-js/integration-tests/check/
/client-js/integration-tests/coverage/

/e2e-tests/spring-rest-openapi-v3/target
/e2e-tests/spring-graphql/target
/e2e-tests/ci-utils/target

/client-js/integration-tests/build/
/core-it/target/
/coveredTargets.txt
/core-driver-it/target/
/core-it/src/test/kotlin/exp/

/core-graphql-it/target/


#DotNet
[Dd]ebug/
[Bb]in/
[Oo]bj/
bin-temp/
e2e-tests/dotnet-rest/test/*/generated/
*.dll
client-dotnet/src/*/Properties/
e2e-tests/*/Properties/
.vscode/
*.launchSettings.json
*.sln.DotSettings.user
*appsettings.Development.json
e2e-tests/dotnet-rest/test/*/appsettings.json

.LocalNuget/*
!.LocalNuget/.gitkeep
#Visual Studio
.vs/
*launchsettings.json
*csproj.user
#Generated Tests
generated-test-cases/

#EF Migrations
Migrations/

/client-js/e2e-tests/node_modules/
/client-js/e2e-tests/coverage/
/client-js/e2e-tests/generated/
/release/
/e2e-tests/dotnet-rest/src/RestApis.ForAssertions/bin/
/e2e-tests/dotnet-rest/src/RestApis.ForAssertions/obj/
/e2e-tests/dotnet-rest/test/RestApis.Tests.ForAssertions/bin/
/e2e-tests/dotnet-rest/test/RestApis.Tests.ForAssertions/obj/
/e2e-tests/dotnet-rest/test/RestApis.Tests.ForAssertions/generated/
/e2e-tests/spring-rest-mysql/target/
/e2e-tests/dotnet-rest/src/RestApis.Crud/obj/
/e2e-tests/dotnet-rest/src/RestApis.Crud/bin/
/e2e-tests/dotnet-rest/test/RestApis.Tests.Crud/bin/
/e2e-tests/dotnet-rest/test/RestApis.Tests.Crud/obj/
/e2e-tests/dotnet-rest/test/RestApis.Tests.Crud/generated/
/e2e-tests/spring-rpc-thrift/target/
/e2e-tests/spring-rpc/spring-rpc-thrift/target/
/e2e-tests/micronaut-latest/target/
/e2e-tests/wiremock/target/


/e2e-tests/spring-rest-h2-v1/target/
/e2e-tests/spring-rest-mysql-column-types/target/
/e2e-tests/spring-rest-postgres-column-types/target/
/e2e-tests/spring-rest-h2-column-types/target/
/test-old-libraries/target/
/e2e-tests/spring-web/target/
/e2e-tests/spring-rest-mongo/target/
/client-java/target/
/client-java/dependencies/target/
/client-java/sql-dto/target/
/client-java/sql/target/
/client-java/distance-heuristics/target/
/e2e-tests/spring-rpc/spring-rpc-grpc/target/
/em.toml

/solver/target/
/em.yaml
